.noticia{
	font-family: opensans-regular, arial, sans-serif;
	background-color: #f5f5dc;
	border:1px solid black;
	color: #333;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 10px;
	text-align: justify;
	line-height: 24px;
	width: 500px;
	margin: 20px;
	float: left;
}

.noticia h1{
	color: #c4170c;
	font-family:"Helvetica Neue", Arial, sans-serif;
	margin: 8px;
}
.noticia p {
	clear: both;
}

.imagem{
	float: right;
	width: 200px;
	padding: 10px;
	float: left;
}